<div>
  <strong>Commenter:</strong>
  <%= comment.commenter %>
</div>

<div>
  <strong>Comment:</strong>
  <%= comment.body %>
</div>

<div>
  <%= link_to 'Destroy Comment', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</div>