<%= render 'layouts/header' %>
<div class="show-art">
  <div class="container">
    <div class="show-page">
      <div class="container">
         <h1>New article</h1>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>

