.articles

  .nav-left
    margin-left: 70px
    margin-top: 7px
    .nav-ul-left
      list-style-type: none
      margin: 0
      padding: 0
      overflow: hidden

    li
      float: left
      a
        display: block
        color: #000
        text-align: center
        padding: 14px 16px
        text-decoration: none
        text-decoration: none
        font-weight: bold
    li
      a:hover
        background: #ddd


  .nav-right
    margin-right: 20px
    margin-top: 7px
    li
      position: relative
    .nav-ul-right
      list-style-type: none
      text-align: center
      li
        width: 120px
    li:hover
      background: #ddd
    li
      a
        color: #000
        text-decoration: none
        font-weight: bold
    li:hover
      .sub-menu
        display: block

.sub-menu
  list-style-type: none
  position: absolute
  display: none
  right: 0px
  background: #fff

.nav
  line-height: 40px
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
  .nav-item
    width: 100px
    font-size: 15px

.alert
  text-align: center
.banner
  text-align: center
  font-size: 40px
  background: #00B193
  color: #fff
  text-shadow: 0 0 10px
  padding-bottom: 20px
  position: relative
  .txt-banner
    margin-top: 40px


.container-fluid
  margin-top: 80px
  .box-content
    background: #fff
    .title-content
      color: blue
      font-size: 20px
.btn-bottom
  padding-bottom: 20px
  .btn-bot
    border-radius: 0
    a
      color: white

.sidebar-top
  background: whitesmoke
  padding: 10px

.sidebar-bot
  background: whitesmoke
  margin-top: 80px
  padding: 10px

#footer
  background: #222
  color: white
  padding: 10px
  text-align: left
  height: 100px
  bottom: 0
  left: 0
.show-art
  margin-top: 80px
  padding-bottom: 20px
  p
    a
      color: #fff


#wrapper
  min-height: 100%


