.txt-center
  text-align: center

.txt-left
  text-align: left

.txt-li
  ul
    li
      list-style-type: none
      margin: 20px
      a
        text-decoration: none

.mg-top-30
  margin-top: 30px
  margin-bottom: 20px

.pd-top-20
  padding-top: 20px
.txt-float
  float: right
  margin-left: 20px
  margin-right: 20px
/*flash*/
.alert-error
  background-color: #f2dede
  border-color: #eed3d7
  color: #b94a48
  text-align: left


.alert-alert
  background-color: #f2dede
  border-color: #eed3d7
  color: #b94a48
  text-align: left


.alert-success
  background-color: #dff0d8
  border-color: #d6e9c6
  color: #468847
  text-align: left

.alert-notice
  background-color: #dff0d8
  border-color: #d6e9c6
  color: #468847
  text-align: left

.txt-color
  color: #fff

.hint
  color: #fff
  font-style: italic


.container-fluid
  .box-content
    ul
      li
        list-style-type: none

