.txt-center
  text-align: center

.txt-left
  text-align: left

.txt-sidebar
  color: #000
  font-weight: bold

.txt-btn
  color: #fff
  font-weight: bold

.txt-table
  font-style: italic

.txt-li
  ul
    li
      list-style-type: none
      margin: 20px
      a
        text-decoration: none
.nav-tabs-title
  a
    padding: 10px 12px !important

.image
  float: left
  margin-right: 20px
  img

.navbar-left
  margin-left: 50px !important

#image-show
  text-align: center
  margin-top: 10px
  margin-bottom: 20px

.round-image-50
  background-color: white
  border: 1px solid #d9d9d9
  border-radius: 25px
  -moz-border-radius: 25px
  -webkit-border-radius: 25px
  height: 50px
  width: 50px
  overflow: hidden
  text-align: center
  img
    width: 100%

#title-content-show
  color: blue
  font-size: 20px

.mg-top-30
  margin-top: 80px
  margin-bottom: 20px
.mg-top-10
  margin-top: 10px

.pd-top-20
  padding-top: 20px
.txt-float
  float: right
  margin-left: 20px
  margin-right: 20px
/*flash*/
.alert-error
  background-color: #f2dede
  border-color: #eed3d7
  color: #b94a48
  text-align: left


.alert-alert
  background-color: #f2dede
  border-color: #eed3d7
  color: #b94a48
  text-align: left


.alert-success
  background-color: #dff0d8
  border-color: #d6e9c6
  color: #468847
  text-align: left

.alert-notice
  background-color: #dff0d8
  border-color: #d6e9c6
  color: #468847
  text-align: left

.txt-color
  color: #fff

.hint
  color: #fff
  font-style: italic


.container-fluid
  .box-content
    li
      list-style-type: none




