    <div class="txt-li sidebar-top">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Author</a></li>
          <li><a href="#">Tag</a></li>
          <%= form_tag search_path, :method => 'get', :class => 'form-group' do %>
            <p>
              <h5 style="color: #000;font-weight: bold;">Search articles:</h5>
              <%= text_field_tag :search, params[:search],placeholder: "Search...", class: "form-control" %>
              <br>
              <%= submit_tag "Search", :name => nil, class: "btn btn-primary" %>
            </p>
          <% end %>
        </ul>
      </div>
      <div class="txt-li sidebar-bot">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Author</a></li>
          <li><a href="#">Tag</a></li>
          <li><button class="btn btn-primary">Subscribe</button></li>
        </ul>
      </div>