    <div class="txt-li sidebar-top">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Author</a></li>
          <li><a href="#">Tag</a></li>
          <li><button class="btn btn-primary">Subscribe</button></li>
        </ul>
      </div>
      <div class="txt-li sidebar-bot">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Author</a></li>
          <li><a href="#">Tag</a></li>
          <li><button class="btn btn-primary">Subscribe</button></li>
        </ul>
      </div>